.App {
  height: 1000px;
  .authForm {
    div {
      margin: 2vh;
    }
  }
  .profilePage {
    margin: 7% 0 0 0;
  }
  .profileForm {
    margin-left: 5%;
    div {
      margin: 1vh;
    }
  }
  .alertError {
    width: 50%;
    margin-left: 25%;
  }
  #siteTitle {
    text-decoration: none;
  }
  #changeAvatar {
    width: 30%;
    margin-left: 5%;
  }
  .customDropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
  }
  .redText {
    color: "red";
  }
}
