a {
  color: black;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.App {
  .Header {
    .SearchBar {
      div {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .BigHeader {
      background-color: black;
      height: 30vh;
      button {
        color: white;
      }
      a {
        color: white;
        text-decoration: none;
      }
    }
    .SmallHeader {
      background-color: white;
      button {
        color: black;
      }
      a {
        color: black;
        text-decoration: none;
      }
      .Logo {
        color: rgb(236, 130, 148);
      }
      .SearchField {
        right: 10vh;
        border-radius: 20px;
        width: 40vh;
        justify-content: space-between;
        text-decoration: none;
        font-weight: normal;
        #SearchIcon {
          color: rgb(236, 130, 148);
        }
      }
      &.WhiteBigHeader {
        height: 30vh;
      }
    }
  }
  .Main {
    .Top {
      height: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      .MainImageBoard {
        display: block;
        margin-top: 20%;
        text-align: center;
        img {
          border-radius: 30px;
        }
      }
    }
  }
  .HotelsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .alertError {
    width: 50%;
    margin-left: 25%;
  }
  .customDropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
  }
}
